body, h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}

.benefits {
    width: 100%;
}

.usblogo, .sqllogo, .analyticslogo, .pythonlogo, .worldwidelogo, .elephantlogo {
    width: 100px;
}

.githublogo {
    width: 30px;
    padding-right: 7px;
}


.benefits, .doclink, .usecase {
    table-layout: fixed ;
    width: 100% ;
    border-spacing: 20px;
}




.td-benefits {
    width: 33%;
}

.td-usecase-arrow {
    width: 10%;
    text-align: center;
}

.td-usecase-txt {
    width: 45%;
}

.td-footer {
    width: 25%;
}

.benefits-text-1.td.h5 {
    font-weight: bold;
}

.mobdblogo {
    width: 60%;
}

.mobdb-blue, .mobdb-hover-blue:hover {
    color: #fff !important;
    color: #fff !important;
    background-color: #5086B7 !important
}

.w3-code-override {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #ED6332 ;
    word-wrap: break-word
}


.mobdb-orange, .mobdb-hover-orange:hover {
    color: #000 !important;
    background-color: #ED6332 !important
}

.sqlquery {
    height: 150px;
    width: 450px;
    border: 1px solid black;
}

.sqlresponse {
    height: 150px;
    width: 450px;
    border: 1px solid black;
}

.pgconf2020presentation, .taxi, .covid{
    width: 400px;
}

.ogclogo {
    width: 150px;
}

.footerlink {
    text-decoration: none;
}


.medaillelogo {
    width: 20px;
}

.awardtxt {
    font-weight: bold;
}

.textAreaLeft {
  /*  width: 100%; */
    border: solid black 1px;
}

.textAreaRight {
/*    width: 100%; */
    border: solid black 1px;
}
.cellfleche {
    width:50px;
    border-spacing: 20px;
}
